<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuoman.westernelectric">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 使用相机权限 -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 自动对焦权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 获取蓝牙地址权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 开机启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <user-permission android:name="android.permission.DEVICE_POWER" />

    <application
        android:name="com.nuoman.NuoManApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.nuoman.westernele.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nuoman.westernele.common.utils.CameraNoMarkActivity" />

        <!--登陆界面-->
        <activity android:name="com.nuoman.westernele.login.LoginActivity" />

        <!-- 工号查询 -->
        <activity
            android:name="com.nuoman.westernele.numberQuery.NumberQueryActivity"
            android:windowSoftInputMode="stateHidden" />

        <!-- 工号的基本信息 -->
        <activity android:name="com.nuoman.westernele.numberDetail.view.NumberDetailActivity" />
        <!-- 账款信息 -->
        <activity android:name="com.nuoman.westernele.billInformation.BillInformationActivity" />
        <!-- 信息发布页面 -->
        <activity android:name="com.nuoman.westernele.informationRelease.InformationReleaseActivity" />
        <!--发布信息详情页-->
        <activity android:name="com.nuoman.westernele.informationDetail.InformationDetailActivity" />
        <!--预警中心-->
        <activity android:name="com.nuoman.westernele.warningCenter.WarningCenterActivity" />
        <!--西变新闻-->
        <activity android:name="com.nuoman.westernele.westNew.WestNewActivity" />
        <!--主页导航-->
        <activity android:name="com.nuoman.westernele.home.MainTableActivity" />
        <!--修改密码-->
        <activity android:name="com.nuoman.westernele.set.PwdActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58356993f29d9875710001e4">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="51f88e2bc8c5076ce8a020208a76402d">
        </meta-data>
    </application>

</manifest>